## Fake News Detection Modeling using TfidfVectorizer

##### I'll now use a *'TfidfVectorizer'* for vectorize the words in text data,
##### and watch the frequency of words as the measurement of importancy.
##### TF(Term Frequency): a number of how frequently the word appears. Higher value means the word could be a good match with entire documents
##### IDF(Inverse Document Frequency): this number represents how significant a term is in the whole corpus.

In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from ISLP import confusion_table

In [5]:
df = pd.read_csv('news.csv')
df.shape

(6335, 4)

In [6]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [7]:
labels = df.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [8]:
#split the data into training, test data
X_train, X_test, y_train, y_test = train_test_split(df['text'], labels, test_size = 0.2, random_state= 7)

In [10]:
#Initialize a TfidfVectorizer
tfifdvectorizer = TfidfVectorizer(stop_words='english', max_df = 0.7)

tfidf_train = tfifdvectorizer.fit_transform(X_train)
tfidf_test = tfifdvectorizer.transform(X_test)

In [12]:
#Initialize a PassiveAgressiveClassifier
pac = PassiveAggressiveClassifier(max_iter = 50) #epochs
pac.fit(tfidf_train,y_train)

#predict on the test set and calculate accuracy
y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test, y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 92.9%

In [19]:
confusion_table(y_test, y_pred)

Truth      FAKE  REAL
Predicted
FAKE        589    49
REAL         41   588